@{
    ViewData["Title"] = "User Account";
}

@model BookCave.Models.ViewModels.ProfileViewModel

<div id="user-main-box" class="col-lg-12">
	<div  id="panel-box" class="panel col-lg-2">
		<div id="panel-profile" class="panel-body panel-selected">Profile</div>
		<div id="panel-orders" class="panel-body">Orders</div>
		<div id="panel-wish-list" class="panel-body">Wish list</div>
		<div id="panel-bookshelf" class="panel-body">Bookshelf</div>
		<div id="panel-settings" class="panel-body">Settings</div>
		<div id="panel-payment-shipping" class="panel-body">Payment and shipping</div>
	</div>

	<div id="profile" class="col-lg-10 main-box">
		<div id="image-container" class="col-lg-12">
			<img id="profile-image" src="@Model.Image" alt="no image found">
		</div>
		<div class="col-lg-12 profile-info">
			<div class="col-lg-5">
				@Model.Name
			</div>
			<div class="col-lg-2"></div>
			<div class="col-lg-5">
				@Model.Email
			</div>
		</div>
		<div class="col-lg-12 profile-info">
			<div class="col-lg-5">
				@Model.FavoriteBook.Title
			</div>
			<div class="col-lg-2"></div>			
			<div class="col-lg-5">
				@Model.FavoriteAuthor.Name
			</div>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-5"></div>
			<div class="col-lg-3">
				<a asp-controller="User" asp-action="EditProfile"><button class="btn btn-success">Edit Profile</button></a>
			</div>
			<div class="col-lg-5"></div>
		</div>
	</div>


	<div id="orders" class="col-lg-10 is-hidden main-box">
		@foreach (var order in Model.Orders)
		{
			<div class="col-lg-12 order-information">
				<hr class="order-seperator-top">
				<div class="col-lg-3">Order Placed</div>
				<div class="col-lg-3">Order Order ID</div>
				<div class="col-lg-3">Order Status</div>
				<div class="col-lg-3">Total Price</div>
			</div>
			<div class="col-lg-12 order-information">
				<div class="col-lg-3">@order.Date</div>
				<div class="col-lg-3">@order.Id</div>
				<div class="col-lg-3">@order.Status</div>
				<div class="col-lg-3">$ @order.Price</div>
				<hr class="order-seperator-bottom">
			</div>
				@foreach (var book in order.BookList)
				{
				<div class="col-lg-12 order-book">
					<div class="col-lg-4">
						<img src="@book.Image" alt="@book.Title" class="order-image">
					</div>
					<div class="col-lg-4">
						@book.Title
						<br>
						@foreach (var genre in book.Genre)
						{
							@genre.Name @Html.Raw(" ")
						}
						<br>
						@foreach (var author in book.Authors)
						{
							@author.Name @Html.Raw(" ")
						}
						<br>
					</div>
					<div class="col-lg-4">
						Some text
					</div>
				</div>
				}
		}
	</div>
	<div id="wishlist" class="col-lg-10 is-hidden main-box">
		@foreach (var book in Model.BookShelf)
		{
			<div class="col-lg-12">
				<div class="col-lg-6">
					<img src="@book.Image" alt="no image found">
				</div>
				<div class="col-lg-6">
					@book.Title
					<br>
					@foreach (var genre in book.Genre)
					{
						@genre.Name @Html.Raw(" ")
					}
					<br>
					@foreach (var author in book.Authors)
					{
						@author.Name @Html.Raw(" ")
					}
				</div>
			</div>
		}
	</div>
	<div id="bookshelf" class="col-lg-10 is-hidden main-box">
		@foreach (var book in Model.BookShelf)
		{
			<div class="col-lg-12">
				<div class="col-lg-6">
					<img src="@book.Image" alt="no image found">
				</div>
				<div class="col-lg-6">
					@book.Title
					<br>
					@foreach (var genre in book.Genre)
					{
						@genre.Name @Html.Raw(" ")
					}
					<br>
					@foreach (var author in book.Authors)
					{
						@author.Name @Html.Raw(" ")
					}
				</div>
			</div>
		}
	</div>
	<div id="settings" class="col-lg-10 is-hidden main-box">
		<div class="col-lg-12">
			<h3>Notifications</h3>
			<form method="post">
				<label for="email">
					<input type="checkbox" name="email" id="email">
				</label>
			</form>
		</div>

	</div>
	<div id="payment-shipping" class="col-lg-10 is-hidden main-box">
		<h1>Payment and shipping</h1>
	</div>

	
</div>