@{
    ViewData["Title"] = "User Account";
}

@model BookCave.Models.ViewModels.UserPrivateViewModel

<div id="main-box" class="container">
	<div  id="panel-box" class="panel panel-default">
		<div class="panel-heading panel-primary panel-font-heading">Your account</div>
		<div id="panel-profile" class="panel-body panel-selected">Profile</div>
		<div id="panel-orders" class="panel-body">Orders</div>
		<div id="panel-wish-list" class="panel-body">Wish list</div>
		<div id="panel-bookshelf" class="panel-body">Bookshelf</div>
		<div id="panel-settings" class="panel-body">Settings</div>
		<div id="panel-payment-shipping" class="panel-body">Payment and shipping</div>
	</div>
	<div id="user-profile" class="user-information-box">
		<div id="user-image">
			<img src="@Model.Image" alt="ImageNotFound">
		</div>
		<div id="image-seperator"></div>
		<div class="row">
			<div class="profile-info col-xs-1">
				Name
				<br>
				@Model.Name	
			</div>
			<div class="profile-info col-xs-1">
				Email
				<br>
				@Model.Email
			</div>
		</div>
		<div class="row">
			<div class="profile-info col-xs-1">
				Favourite Book<br>
				@Model.FavouriteBook
				</div>
			<div class="profile-info col-xs-1">
				Favourite Author<br>
				@Model.FavouriteAuthor
			</div>
		</div>
	</div>

	<div id="user-orders" class="user-information-box is-hidden">
		@foreach(var order in Model.PastOrders)
		{
			<div class="row order-border">
				<div class="row">
					<div class="col-lg-3"><strong>Order Placed</strong></div>
					<div class="col-lg-3"><strong>Order ID</strong></div>
					<div class="col-lg-3"><strong>Order Status</strong></div>
					<div class="col-lg-3"><strong>Price</strong></div>
				</div>
				<div class="row">
					<div class="col-lg-3">@order.OrderPlaced</div>
					<div class="col-lg-3">@order.Id</div>
					<div class="col-lg-3">@order.OrderStatus</div>
					<div class="col-lg-3">@order.TotalPrice</div>
				</div>
			</div>

			<div class="row order-border">
				<div>
						@foreach(var book in order.BookList)
						{
							<p>@book.Title</p>
							<p>@book.Author</p>
							<p>@book.Genre</p>
							<p>@book.Image</p>
						}
				</div>
			</div>
		}
	</div>

	<div id="user-wish-list" class="user-information-box is-hidden">
		@foreach(var book in Model.WishList)
		{
			<hr>
			<p>@book.Title</p>
			<p>@book.Author</p>
			<p>@book.Genre</p>
			<p>$@book.Price</p>
		}
	</div>

	<div id="user-bookshelf" class="user-information-box is-hidden">
		@foreach(var book in Model.WishList)
		{
			<hr>
			<p>@book.Title</p>
			<p>@book.Author</p>
			<p>@book.Genre</p>
			<p>$@book.Price</p>
		}
	</div>

	<div id="user-settings" class="user-information-box is-hidden">
		These are his settings
	</div>

	<div id="user-payment-shipping" class="user-information-box is-hidden">
		This here is is his
	</div>
	
</div>