@{
    ViewData["Title"] = "User Account";
}

@model BookCave.Models.ViewModels.ProfileViewModel


<div id="user-main-box" class="col-lg-10 col-lg-offset-1">
	<div  id="panel-box" class="panel col-lg-2">
		<div id="panel-profile" class="panel-body panel-selected">Profile</div>
		<div id="panel-orders" class="panel-body">Orders</div>
		<div id="panel-wish-list" class="panel-body">Wish list</div>
		<div id="panel-bookshelf" class="panel-body">Bookshelf</div>
		<div id="panel-settings" class="panel-body">Settings</div>
		<div id="panel-payment-shipping" class="panel-body">Payment and shipping</div>
	</div>



	<div id="profile" class="col-lg-10 main-box">
		<div id="image-container" class="col-lg-12">
			<img id="profile-image" src="~/images/@Model.Image" alt="no image found">
		</div>
		<div class="col-lg-12 profile-info">
			<div class="col-lg-5">
				@Model.Name
			</div>
			<div class="col-lg-2"></div>
			<div class="col-lg-5">
				@Model.Email
			</div>
		</div>
		<div class="col-lg-12 profile-info">
			<div class="col-lg-5">
				@Model.FavoriteBook.Title
			</div>
			<div class="col-lg-2"></div>			
			<div class="col-lg-5">
				@Model.FavoriteAuthor.Name
			</div>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-5"></div>
			<div class="col-lg-3">
				<a asp-controller="User" asp-action="EditProfile"><button class="btn btn-success">Edit Profile</button></a>
			</div>
			<div class="col-lg-5"></div>
		</div>
	</div>



	<div id="orders" class="col-lg-10 is-hidden main-box">
		@foreach (var order in Model.Orders)
		{
			<div class="col-lg-12 order-information">
				<hr class="order-seperator-top">
				<div class="col-lg-3">Order Placed</div>
				<div class="col-lg-3">Order Order ID</div>
				<div class="col-lg-3">Order Status</div>
				<div class="col-lg-3">Total Price</div>
			</div>
			<div class="col-lg-12 order-information">
				<div class="col-lg-3">@order.Date</div>
				<div class="col-lg-3">@order.Id</div>
				@if (order.Status == true)
				{
					<div class="col-lg-3">Shipped</div>
				}
				else
				{
					<div class="col-lg-3">Not Shipped</div>					
				}
				<div class="col-lg-3">$ @order.Price</div>
				<hr class="order-seperator-bottom">
			</div>
				@foreach (var book in order.BookList)
				{
				<div class="col-lg-12 order-book">
					<div class="col-lg-4">
						<a asp-controller="Book" asp-action="Index" asp-route-id="@book.Id"><img src="@book.Image" alt="@book.Title" class="order-image"></a>
					</div>
					<div class="col-lg-4">
						@book.Title
						<br>
						@foreach (var genre in book.Genre)
						{
							@genre.Name @Html.Raw(" ")
						}
						<br>
						@foreach (var author in book.Authors)
						{
							@author.Name @Html.Raw(" ")
						}
						<br>
					</div>
					<div class="col-lg-4">
						Some text
					</div>
				</div>
				}
		}
	</div>



	<div id="wishlist" class="col-lg-10 is-hidden main-box">
    @foreach(var book in Model.BookShelf)
    {
      <div class="book-item row">
        <div class="book-img col-sm-3">
          <a asp-controller="Book" asp-action="Index" asp-route-id="@book.Id">
            <img src=@book.Image alt=@book.Title>
          </a>
        </div>

        <div class="book-details col-sm-9">
          <h3 class="book-title" id=@book.Id> 
            <a asp-controller="Book" asp-action="Index" asp-route-id="@book.Id">@book.Title </a>
          </h3>

          <p>
            @foreach(var author in book.Authors)
            {
              if(author == book.Authors[book.Authors.Count() - 1])
              {
                @author.Name @Html.Raw(". ")
              }
              else
              {
                  @author.Name @Html.Raw(", ")
              }
            }
          </p>
          <p>
            @foreach(var genre in book.Genre)
            {
              if(genre == book.Genre[book.Genre.Count() - 1])
              {
                @genre.Name @Html.Raw(". ")
              }
              else
              {
                  @genre.Name @Html.Raw(", ")
              }
            }
          </p>

          <div class="rating">
            Rating: @book.Rating
            @for(int i = 0; i < (int)book.Rating; i++)
            {
              
              <i class="fas fa-star"></i>
            }
          </div>
        </div>
        <br>
        <div class="book-descriptions">
          <p>
            @book.Description
          </p>
        </div>
      </div>
    }
	</div>



	<div id="bookshelf" class="col-lg-10 is-hidden main-box">
		@{int bsCounter = 0;}
    <div class="bookshelf-row row">
    @foreach (var book in Model.BookShelf)
		{
      if (bsCounter != 0 && bsCounter % 4 == 0)
      {
          @:</div>
          @:<div class="bookshelf-row row">
      }

			<div class="book-item col-sm-3">
        <div class="item-img">
          <a asp-controller="Book" asp-action="Index" asp-route-id="@book.Id"><img src=@book.Image alt=@book.Title class="img-responsive center-block"></a>
        </div>
        <a asp-controller="Book" asp-action="Index" asp-route-id="@book.Id"><p class="title">@book.Title</p></a>
        <p class="author">
          @foreach(var author in book.Authors)
          {
            @author.Name
            if(author == book.Authors[book.Authors.Count() - 1])
            {
              @Html.Raw(". ")
            }
            else
            {
              @Html.Raw(", ")
            }
          }
        </p>
        <p class="genre">
          @foreach(var genre in book.Genre)
          {
            if(genre == book.Genre[book.Genre.Count() - 1])
            {
              @genre.Name @Html.Raw(". ")
            }
            else
            {
              @genre.Name @Html.Raw(", ")
            }
          }
        </p>
      </div>
      bsCounter++;
		}
    </div>
	</div>



	<div id="settings" class="col-lg-10 is-hidden main-box">
		<div class="col-lg-12">
			<h3>Notifications</h3>
			<form method="post">
				<label for="email">
					<input type="checkbox" name="email" id="email">
				</label>
			</form>
		</div>
	</div>



	<div id="payment-shipping" class="col-lg-10 is-hidden main-box">
		<h1>Payment methods</h1>
		<div class="col-lg-12">
			@foreach (var card in Model.PaymentMethods)
			{
				<div class="col-lg-2 address-box">
					@card.Name
					<br>
					@card.CardNumber
					<br>
					@card.Cvc
					<br>
					@card.ExpirationDate.Month @Html.Raw("/") @card.ExpirationDate.Year
				</div>
			}
			@if (Model.PaymentMethods.Count != 6)
			{
				<div class="col-lg-2">
					<a asp-controller="User" asp-action="AddCard" class="btn btn-primary">
						Add card
					</a>
				</div>
			}
		</div>
		<h1>Billing addresss</h1>
		<div class="col-lg-12">
			@foreach (var billing in Model.BillingAddresses)
			{
				<div class="col-lg-2 address-box">
					@billing.Country
					<br>
					@billing.StateOrProvince
					<br>
					@billing.City
					<br>
					@billing.Zip
					<br>
					@billing.StreetAddress
				</div>
			}
			@if (Model.BillingAddresses.Count != 6)
			{
				<div class="col-lg-2">
					<a asp-controller="User" asp-action="AddBilling" class="btn btn-primary">
						Add address
					</a>
				</div>
			}
		</div>
		<h1>Shipping addresses</h1>
		<div class="col-lg-12">
			@foreach (var shipping in Model.ShippingAddresses)
			{
				<div class="col-lg-2 address-box">
					@shipping.Country
					<br>
					@shipping.StateOrProvince
					<br>
					@shipping.City
					<br>
					@shipping.Zip
					<br>
					@shipping.StreetAddress
				</div>
			}
			@if (Model.ShippingAddresses.Count != 6)
			{
				<div class="col-lg-2">
					<a asp-controller="User" asp-action="AddShipping" class="btn btn-primary">
						Add address
					</a>
				</div>
			}
		</div>
	</div>
</div>