@model List<BookCave.Models.ViewModels.BillingAddressesViewModel>

<h1>Hi</h1>
@foreach(var b in Model)
{
    <p>@b.Id</p>
    <p>@b.StateOrProvince</p>
    <p>@b.Country</p>
    <p>@b.City</p>
    <p>@b.Zip</p>
}