@model BookCave.Models.ViewModels.CartViewModel

<head>
  <link rel="stylesheet" href="~/css/Checkout/Cart.css">
</head>

<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Cart</h2>  
  </div>

  <div class="order-details col-sm-10 col-sm-offset-1">
    <div class="col-sm-3">
      <h4>Total Price: $@Model.Price</h4>
    </div>
    
    <div class="order-checkout col-sm-2 col-sm-offset-7">
      <a asp-action="Shipping"> <button class="btn btn-primary">Checkout</button></a>
    </div>
    <hr>
  </div>

  <div class="order col-sm-10 col-sm-offset-1">
    @foreach(var book in Model.BookList)
    {
      <div class="order-book col-sm-12">

        <div class="book-img col-sm-1">
          <img src="@book.Image" alt="@book.Title" style="background-color: yellow;">
        </div>

        <div class="book-details col-sm-8">
            <a asp-controller="Book" asp-action="Index" asp-route-d=@book.Id><h4>@book.Title</h4></a>
            @foreach(var author in book.Authors)
            {
              @author.Name <br>
            }
          
            @foreach(var genre in book.Genre)
            {
              @genre.Name
            }
          
        </div>

        <div class="book-opt col-sm-2">

          <div style="display: inline">
            @if(book.Discount == 0)
            {
              <h4>$@book.Price</h4>
            }
            else
            {
              <h4 style="display: inline">$@(book.Price * 1 - book.Discount)</h4>
              <h5 style="text-decoration: line-through;display: inline;">$@book.Price</h5>
            }
          </div>



          
          <div class="book-stock">
            <strong>
              In stock
            </strong>
          </div>
          <form asp-action="EditCart" asp-controller="CheckOut">
            <div class="input-group input-group-sm input-group-inline">
              <label for="quant">Quantity</label><br>
              <input class="form-control" type="number" name="qty" value="@book.NumOfBooks">
              <button class="btn btn-link" name="id" value="@book.Id">Update item</button>
            </div>
          </form>
          <div>
          <form asp-action="RemoveFromCart" asp-controller="CheckOut">
            <button class="btn btn-link delete-from-cart" name="id" value="@book.Id">Delete</button>
          </form>
          </div>
        </div>
      </div>  
    }
  </div>
</div>